<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
  <h1 style="text-align: center; border: 1px solid;">Your account is not activated! Please check mail to confirm your email</h1>
</body>
</html>